body {
    background-color: #f8f9fa;
}

.card {
    margin-bottom: 20px;
}
/* admin_dashboard.css */
.colorful-input {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.colorful-input:focus {
    background-color: #ffffff;
    border-color: #6cb2eb;
    box-shadow: 0 0 5px rgba(108, 178, 235, 0.5);
}
